.image-with-text__media--small {
  height: 19.4rem;
}
.image-with-text__media--large {
  height: 43.5rem;
}
@media screen and (min-width: 750px) {
  .image-with-text__media--small {
    height: 31.4rem;
  }
  .image-with-text__media--large {
    height: 69.5rem;
  }
}
.image-with-text__media--placeholder.image-with-text__media--adapt {
  height: 20rem;
}
@media screen and (min-width: 750px) {
  .image-with-text__media--placeholder.image-with-text__media--adapt {
    height: 30rem;
  }
}
.image-with-text__content--mobile-right > * {
  align-self: flex-end;
  text-align: right;
}
.image-with-text__content--mobile-center > * {
  align-self: center;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .image-with-text__content--desktop-right > * {
    align-self: flex-end;
    text-align: right;
  }
  .image-with-text__content--desktop-left > * {
    align-self: flex-start;
    text-align: left;
  }
  .image-with-text__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }
  .image-with-text__text-item {
    flex-grow: 0;
  }
}
.image-with-text__text p {
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 1rem;
}
